body {
    background-color: whitesmoke;
    text-align: center; 
    margin-top: 5vh;
    font-family: 'Public Sans', sans-serif;
}

img {
    width: 250px;
    height: auto;
}

#buttonContainer {
    text-align: center; 
    margin-top: 80px;
}

#btnCadastro {
    background-color: #214293;
    border: 1px solid #fde071;
    border-radius: 8px;
    width: 300px;
    height: 80px;
    color: white;
    font-size: 30px;
    text-align: center; 
    margin-top: 40px;
    font-weight: bold;
}

#btnLogin {
    background-color: #214293;
    border: 1px solid #fde071;
    border-radius: 8px;
    width: 300px;
    height: 80px;
    color: white;
    font-size: 30px;
    text-align: center; 
    margin-top: 40px;
    font-weight: bold;
}