* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
}

h1 {
    color: rgb(1,1,90);
    margin: 5% auto;
    text-align: center;
    font-size: 270%;
}

h2 {
    text-align: center;
    color: rgb(1,1,90);
    font-size: 270%;
    margin: -5% auto;
}

.imagem-puc{
    position: relative;
}

.Brasao{
    width: 20%;
    position: absolute;
    left: 2%;
    top: 5%; 
}

main {
    background-color: rgb(1,1,90);
    margin: 10% auto;
    border-radius: 10px;
    padding: 5%;
    max-width: 90%;
    color: white;
}

.inicio {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

#containerFormulario {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.linha {
    display: flex;
    gap: 7rem;
    justify-content: center;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

input {
    padding: 0.6rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    width: 20rem;
}

.botao-container {
    display: flex;
}

.botao {
    width: 10vw;
    margin: 2rem;
    padding: 0.4rem;
    background-color: #fde071;
}

.botao:hover {
    width: 10vw;
    margin: 2rem;
    padding: 0.4rem;
    background-color: #ffd93f;
    cursor: pointer;
}

.aviso {
    text-align: center;
}

#toast-sucesso, #toast-erro {
    visibility: hidden;
    min-width: 250px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

#toast-sucesso { 
    background-color: green; 
}

#toast-erro { 
    background-color: red; 
}

#toast-sucesso.show, #toast-erro.show {
    visibility: visible;
    opacity: 1;
}

