@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0; 
}

#Header{
    background-color: rgb(1, 1, 90);
}

#textHeader{
    color: antiquewhite;
    padding: 1%;
    font-family: "Poppins", sans-serif;
}

.cabecalho{
    display: flex;
    flex-direction: column;
}

#TituloPagina { 
    padding: 1%;
    display: flex;            
    justify-content: center;
    font-family: "Poppins", sans-serif;
    color: rgb(1, 1, 90);
    font-size: x-large;
}

.logo {
    display: flex;
    justify-content: left;
    padding: 4%;
}

.CaixaTotalLivros{
    display: inline-block;
    border: 2px solid #fde071;
    padding: 1%;
    margin-inline: 36%;         
    margin-bottom: 2%;   
    border-radius: 6px;
    width: 30%;     
}

.TituloCTL{
    font-size: large;
    font-weight: bold;
}

.CaixaTotalNomeLivros{
    display: inline-block;
    border: 2px solid #fde071;
    padding: 1%;
    margin-inline: 36%;         
    margin-bottom: 2%;   
    border-radius: 6px;
    width: 30%;  
}

.TituloCTNL{
    font-size: large;
    font-weight: bold;
}