@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;  
}

#Header{
    background-color: rgb(1, 1, 90);
}

#textHeader{
    color: antiquewhite;
    padding: 1%;
    font-family: "Poppins", sans-serif;
}

.cabecalho{
    display: flex;
    flex-direction: column;
}

#TituloPagina { 
    width: 100%;
    padding: 1%;
    display: flex;            
    justify-content: center;
    font-family: "Poppins", sans-serif;
    color: rgb(1, 1, 90);
    font-size: x-large;
}

.logo {
    display: flex;
    justify-content: left;
    padding: 4%;
}


.posicionada{
    position: absolute;
    top: 60px;
    left: 100px;
    width: 270px;   
}

.opcoes {
    margin-top: 1%;          /* distância do cabeçalho */
    display: flex;
    justify-content: center;
    gap: 40px;                 /* espaço entre os botões */
    align-items: center;       /* centraliza horizontalmente */
    justify-content: center;   /* centraliza verticalmente */
    width: 100%;               /* ocupa toda a largura disponível */
}

.caixa {
    background-color: rgb(1, 1, 90);
    color: white;
    width: 350px;              /* aumenta a largura */
    padding: 45px 0;           /* aumenta a altura */
    font-size: 42px;           /* aumenta o texto */
    font-family: "Poppins", sans-serif;
    text-align: center; 
    border-radius: 24px;
    font-weight: bold;
    cursor: pointer;           
    border: 3px solid rgba(255, 255, 0, 0.799);  /* borda amarela */
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);  /* sombra */
    transition: all 0.3s;
}

.caixa:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.4); /* sombra mais intensa */
}