h1 {
    color: rgb(1, 1, 90);
    margin: auto;
    margin-right: 0px;
    margin-left: 500px;
    font-size: 50px; 
    margin-top: 20px;   
}
h2 {
    color: rgb(1, 1, 90);
    margin: auto;
    margin-right: 0px;
    margin-left: 550px;
    font-size: 45px;
    margin-top: 20px;
}
.posicionada {
    position: absolute;
    top: 60px;
    left: 100px;
    width: 270px;
}
.opcoes {
    display: flex; /* coloca as caixas lado a lado */
    gap: 40px; /* espaço entre os blocos */
    justify-content: center; /* centraliza */
    margin-top: 70px; 
}
.caixa {
    background-color: rgb(1, 1, 90);
    color: white;
    width: 300px; /* largura */
    padding: 7% 1%; /* tamanho interno */
    font-size: 30px;
    text-align: center; 
    border-radius: 35px; /* deixar redondo */
    font-weight: bold; /* deixa o texto em negrito */
}
header {
    background-color: rgb(1, 1, 90);
}
